extends layout
block content
   .card
      .card-body
         h5.text-center.mb-3 Welcome
         h3.text-center.mb-3 XXXX
         a(href="/users/logout" class="btn btn-md btn-dark w-100"): strong Log out 