extends layout
block content
   .card.dashboard
      .card-body
         .dashboard-head
            p Welcome 
            .dashboard-username  #{name}
            a(href="/users/logout" class="dashboard-logout"): strong Log out 