extends layout
block content
   .card
      .card-body
         h5.text-center.mb-3 Hello -- Node.js with Passport Auth App
         a(href="/users/login" class="btn w-100 btn-md btn-primary") Login 
         a(href="/users/register" class="btn w-100 btn-md btn-dark mt-2") Register